@charset "UTF-8";
tr, td { padding: 15px; }
td { background-color: rgb(213, 255, 255);}
caption { font-size: 30px; font-weight: bold;
	line-height: 150%;	}
table { background-color: rgb(215, 253, 215);
	border: 1px solid pink; width: 100%; }
body { background-color: rgb(255, 255, 191); }
#err {color: red; font-weight: bold;}